body {
    font-family: system-ui;
    background: #DF43FF;
    color: white;
    text-align: center;

}
#btnUserName{
    margin-top: 30px;
}
#label-greet{
    text-align: center;
    width: 100%;
    margin-bottom: 15px;

}
#nav{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    text-decoration: none;

}