#game-title{
  position: relative;
  z-index:1;
}
h1,
p {
  text-align: center;
}
p {
  font-size: 20px;
}
img {
  position: relative;
  height: 200px;
  width: 200px;
}
#flying-pig {
  transform: scaleX(-1);
  border-radius: 50%;
  top: 100px;
}
.pedestals {
}
#pedestal-1 {
  left: 200px;
  top: 700px;
}
body {
  background: skyblue;
}
.center {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.cloud {
  position: relative;
  top:100px;
  z-index:.99;
  background: rgba(255, 255, 255);
  width: 300px; 
  height: 100px;
  border-radius: 150px;	
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  animation: move 1s infinite;
}

.cloud:after {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: 50px;
}

.cloud:before {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -90px;
  right: 40px;
}
#cloud2{
  left:80%;
}