body {
  background: skyblue;
}
button{
  background-color: gold;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-right: 40px;
  top: 150px;
  position: relative;
}
#title{
  position: relative;
  top:50px;
  text-align: center;
}
#buttons {
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}